:root {
    --basic-black: #000000;
    --basic-grey-middle: #666666;
    --basic-blue-light-3: #81B3D3;
    --basic-blue-light-2: #81B3D2;
    --basic-blue: #669EC0;
    --basic-blue-extra: #5496BD;
    --basic-white: #ffffff;
    --basic-extra-brown: #766357;
    --basic-brown: #766458;
    --basic-brown-extra-1: #604E43;
    --basic-brown-extra-2: #503E33;
    --basic-extra-grey: #333333;
    --basic-grey: #A9A9A9;

}
body {
    width: 1240px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    background-color: var(--basic-white);
    /*text-align: center;*/
}

.page a{
    text-decoration: none;
}

.page-body {
  margin: 0 auto;
}

.main-content h1, .filter{
  display: none;
}

.about-Sedona, .five-causes {
    margin: 0 auto;
    text-align: center;
}

.about-Sedona {
    font-weight: bold;
    height: auto;
}

.selection-hotels, .selection-hotels h2, .five-causes  {
    text-align: center;
}

.selection-hotels p {
    height: auto;
    margin: 0 auto;
}

.cause-list, .leisure-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cause-item, .leisure-item {
  height: auto;
  text-align: center;
  padding: 0;
}

.primary {
  background-color: var(--basic-blue-light-2);
  color: var(--basic-white);
}

/*.cause-title {*/
 /*}*/

/*.cause-number {*/
/*}*/

/*.cause-text {*/
/*}*/

.cause-title, .cause-number, .cause-text {
  /*margin: 0 auto;*/
}

.leisure-item {
  background-color: var(--basic-grey);
  margin: auto;
  text-align: center;
}
.leisure-list h3 {
}

 .site-navigation-list {
     list-style: none;
     margin: 0;
     padding: 0;
     height: 100%;
 }
 .site-navigation-item a{
     color: var(--basic-black);
 }

 .site-navigation-item a:hover, .Academy-style:hover, .hotels-name:hover {
     color: var(--basic-blue-light-2)
 }

.site-navigation-item a:active,.Academy-style:active, .hotels-name:active {
    color: var(--basic-grey-middle);
}

 .footer-relation h2 {
     display: none;
 }

 .relation-Academy {
 }

 .phone-item, .phone-list {
     color: var(--basic-black);
     list-style: none;
     font-weight: bold;
 }

.social-networks-item {
    width: 23px;
    height: auto;
    background-color: var(--basic-blue-light-2);
    text-align: center;
    margin: 5px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 16px;
    padding-bottom: 13px;
}

.social-networks-item:hover {
    background-color: var(--basic-blue);
}

.social-networks-item:active {
    background-color: var(--basic-blue-extra);
}

.figure:active{}

.sorting-options-list, .sorted-hotels-list, .social-networks-list {
    list-style: none;
}

.quantity-sorted-hotels, .hotels-name {
    font-weight: bold;
}

.hotels-description, .booking {
    font-weight: bold;
    color: var(--basic-white);
    text-transform: uppercase;
}

.hotels-description {
    background-color: var(--basic-blue-light-2)
}

.hotels-description:hover {
    background-color: var(--basic-blue)
}

.hotels-description:active {
    /*color: fade(#81B3D2, 30%);*/
    background-color: var(--basic-blue-extra);
}

.booking {
     background-color: var(--basic-extra-brown)
 }

.booking:hover {
    background-color: var(--basic-brown-extra-1)
}

.booking:active {
    background-color: var(--basic-brown-extra-2);
    /*box: 0 0 0 9999px rgba(0,0,0, 0.3);*/
}

/*.sorting-options-item, .sorting h2 {*/
/*}*/

.blue a {
    color: var(--basic-blue-light-2)
}

/*.rating, .hotels-cost {*/
/*}*/

.rating {
    color: var(--basic-grey-middle)
}

.hotels-cost {
    color: var(--basic-extra-grey)
}

/*.sorting-options-item{*/
    /*border-bottom: 1px dotted;*/
/*}*/

.sorting-options-item:hover {
    color: var(--basic-blue-light-2)
}

.sorting-options-item:active {
    color: var(--basic-black)
}


/*.second {*/
/*}*/

