:root {
    --basic-black: #000000;
    --basic-grey-middle: #666666;
    --basic-blue-light-3: #81B3D3;
    --basic-blue-light-2: #81B3D2;
    --basic-white: #ffffff;
    --basic-extra-brown: #766357;
    --basic-brown: #766458;
    --basic-extra-grey: #333333;
    --basic-grey: #A9A9A9;
}
body {
    width: 1240px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    background-color: var(--basic-white);
    /*text-align: center;*/
}

.page a{
    text-decoration: none;
}

.page-body {
  margin: 0 auto;
}

.main-content h1, .filter{
  display: none;
}

.about-Sedona {
    width: 470px;
    margin: 0 auto;
    text-align: center;
}

.five-causes {
    width: 519px;
    margin: 0 auto;
}

.about-Sedona {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    padding-bottom: 32px;
    height: auto;
}

.selection-hotels {
    text-align: center;
}

.selection-hotels h2 {
  text-align: center;
    font-size: 30px;
    line-height: 24px;
}

.selection-hotels p {
    width: 435px;
    height: auto;
    margin: 0 auto;
}

.five-causes {
    font-size: 14px;
    line-height: 26px;
    text-align: center ;
}

.cause-list, .leisure-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cause-item, .leisure-item {
  width: 400px;
  height: auto;
  text-align: center;
  padding: 0;
}

.primary {
  background-color: var(--basic-blue-light-2);
  color: var(--basic-white);
}

.cause-title {
  font-size: 21px;
  line-height: 21px;
  width: 160px;
  padding-top: 47px;
 }

.cause-number {
  width: 51px;
  padding-top: 25px;
}

.cause-text {
  width: 301px;
    padding-top: 23px;
  padding-bottom: 54px;
}

.cause-title, .cause-number, .cause-text {
  margin: 0 auto;
}

.leisure-item {
  background-color: var(--basic-grey);
  margin: auto;
  width: 400px;
  text-align: center;
}
.leisure-list h3 {
    font-size: 21px;
    line-height: 21px;
}

 .site-navigation-list {
     list-style: none;
     margin: 0;
     padding: 0;
     height: 100%;
 }
 .site-navigation-item a{
     width: 25%;
     font-size: 14px;
     line-height: 26px;
     color: var(--basic-black);
 }

 .footer-relation h2 {
     display: none;
 }

 .relation-Academy {
     font-size: 14px;
     line-height: 26px;
 }

 .phone-item, .phone-list {
     color: var(--basic-black);
     list-style: none;
     font-weight: bold;
     font-size: 21px;
     line-height: 26px;
 }

 .social-networks-list {
     list-style: none;
 }

.social-networks-item {
    width: 23px;
    height: auto;
    background-color: var(--basic-blue-light-2);
    text-align: center;
    margin: 5px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 16px;
    padding-bottom: 13px;
}

.sorting-options-list, .sorted-hotels-list {
    list-style: none;
}

.quantity-sorted-hotels, .hotels-name {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.hotels-description, .booking {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: var(--basic-white);
    text-transform: uppercase;
}

.hotels-description {
    width: 110px;
    background-color: var(--basic-blue-light-2)
}

.booking {
    width: 142px;
    background-color: var(--basic-extra-brown)
}

.sorting-options-item, .sorting h2 {
    font-size: 12px;
    line-height: 18px;
}

.blue a {
    width: 49px;
    color: var(--basic-blue-light-2)
}

.rating, .hotels-cost {
    font-size: 14px;
    line-height: 21px;
}

.rating {
    color: var(--basic-grey-middle)
}

.hotels-cost {
    color: var(--basic-extra-grey)
}

.border {
    border-bottom: 1px dotted;
}

.first {
    width: 49px;
}

.second {
    width: 76px;
}

